<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>
      <h3><%= @title %> (<%= @users.count %>)</h3>
      <ol class="users">
        <%= render @users %>
      </ol>
    <% end %>
  </div>
</div>


